<div class="dialog-body">
    <div class="form-container overflow-hidden">
        <form [formGroup]="formGroup" class="grid grid-cols-2 gap-2 lg:xl:gap-x-2 lg:xl:gap-y-1">
            <div class="flex form-input flex-col items-start w-full col-span-2">
                <label for="status">Status</label>
                <p-inputSwitch formControlName="status" />
            </div>
            <div class="flex form-input flex-col items-start w-full  col-span-2">
                <label for="levelName">Level Name</label>
                <input type="text"
                    [ngClass]="formGroup.get('levelName')?.touched || formGroup.get('levelName')?.dirty ? 'ng-invalid ng-dirty' : ''"
                    pInputText formControlName="levelName" />
                <div
                    *ngIf="formGroup.get('levelName')?.invalid && (formGroup.get('levelName')?.dirty || formGroup.get('levelName')?.touched)">
                    <small *ngIf="formGroup.get('levelName')?.errors?.['required']" class="p-error">This field is
                        required.</small>
                </div>
            </div>
            <div class="dynamic-section col-span-2 flex items-center justify-end flex-col gap-4"
                formArrayName="examRoundList">
                <div class="add-action w-full flex items-center justify-between">
                    <p class="text-xs lg:xl:text-sm select-none opacity-60">
                        Question time (in seconds or milliseconds): </p>
                    <p-button styleClass="action" iconPos="left" class="w-auto" 
                    styleClass="add-row-btn" icon="pi pi-plus"
                        pTooltip="Add new row below" [loading]="isAddLoading" [disabled]="isSubmitActionLoading"
                        loadingIcon="pi pi-spin pi-spinner" [disabled]="isAddLoading" (onClick)="handleAddItem()" />
                </div>
                <div class="form-array-wrapper">
                    @for (question of questions.controls; track $index) {
                    <div class="wrapper flex lg:xl:items-center lg:xl:justify-center gap-3"
                        [ngClass]="questions.controls.length > 2 ? ' last:pb-16' : 'pb-4'" [formGroupName]="$index">
                        <div class="flex form-input flex-col items-start lg:xl:flex-1">
                            <label for="roundName">Round Name</label>
                            <input type="text" class="lg:xl:!w-full"
                                [ngClass]="question.get('roundName')?.touched || question.get('roundName')?.dirty ? 'ng-invalid ng-dirty' : ''"
                                pInputText formControlName="roundName" />
                            <div
                                *ngIf="question.get('roundName')?.invalid && (question.get('roundName')?.dirty || question.get('roundName')?.touched)">
                                <small *ngIf="question.get('roundName')?.errors?.['required']" class="p-error">This
                                    field is
                                    required.</small>
                            </div>
                        </div>
                        <div class="flex form-input flex-col items-start">
                            <label for="numberOfQuestion">Total Questions</label>
                            <input type="number" pKeyFilter="int" style="width: 6rem !important"
                                [ngClass]="question.get('numberOfQuestion')?.touched || question.get('numberOfQuestion')?.dirty ? 'ng-invalid ng-dirty' : ''"
                                pKeyFilter="int" pInputText formControlName="numberOfQuestion" />
                            <!-- <div
                                *ngIf="question.get('numberOfQuestion')?.invalid && (question.get('numberOfQuestion')?.dirty || question.get('numberOfQuestion')?.touched)">
                                <small *ngIf="question.get('noOfQuestions')?.errors?.['required']" class="p-error">This
                                    field is
                                    required.</small>
                            </div> -->
                        </div>
                        <div class="flex form-input flex-col items-start">
                            <label for="questionTimeInSeconds">Seconds</label>
                            <input type="number" pInputText inputmode="tel" pKeyFilter="int" class="w-auto"
                                style="width: 3rem !important"
                                [ngClass]="question.get('questionTimeInSeconds')?.touched || question.get('questionTimeInSeconds')?.dirty || question.get('questionTimeInSeconds')?.errors?.['rangeError'] ? 'ng-invalid ng-dirty' : ''"
                                maxlength="60" formControlName="questionTimeInSeconds" />
                            <small id="username-help">
                                0 - 60
                            </small>
                        </div>
                        <div class="flex form-input flex-col items-start">
                            <label for="questionTimeInMS">MS</label>
                            <input type="number" pInputText pKeyFilter="int" maxlength="60" class="w-auto"
                                style="width: 3rem !important"
                                [ngClass]="question.get('questionTimeInMS')?.touched || question.get('questionTimeInMS')?.dirty || question.get('questionTimeInMS')?.errors?.['rangeError'] ? 'ng-invalid ng-dirty' : ''"
                                formControlName="questionTimeInMS" />
                            <small id="username-help">
                                0 - 60
                            </small>
                        </div>

                        <div class="actions array-actions flex items-center justify-center gap-4">
                            <p-button [text]="true" styleClass="action" class="w-full" icon="pi pi-times"
                                severity="danger" [loading]="isRemoveLoading" loadingIcon="pi pi-spin pi-spinner"
                                [pTooltip]="questions.controls.length === 1 ? 'At least one item is required.' : 'Remove this item'"
                                [disabled]="isSubmitActionLoading || isRemoveLoading || questions.controls.length === 1"
                                iconPos="right" (onClick)="handleRemoveItem($index)" />
                        </div>
                    </div>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="action w-full flex items-center justify-end gap-3 p-4">
        <p-button label="Cancel" severity="secondary" [disabled]="isSubmitActionLoading"
            (onClick)="handleDialogCancel()"></p-button>
        <p-button [label]="isEditMode ? 'Update' : 'Save'" (onClick)="handleSubmitAction()"
            [disabled]="formGroup.invalid" [icon]="isEditMode ? 'pi pi-refresh' : 'pi pi-save'" severity="primary"
            [loading]="isSubmitActionLoading" loadingIcon="pi pi-spin pi-spinner"></p-button>
    </div>
</div>