@import "../../../constants.scss";


.layout-container {
    // display: grid;
    // grid-template-areas: 'sidebar main';
    transition: all 0.5s ease-in-out;
    // @apply bg-ph-500;
    @apply relative;

    .layout-wrapper {
        transition: all 0.5s ease-in-out;
        mix-blend-mode: multiply;

    }

    .main-content {
        display: grid;
        grid-template-areas: 'header dynamic';
        grid-template-columns: 1fr;
        grid-template-rows: $headerHeight 1fr;
        transition: width 5s ease-in-out;

        .header {
            grid-area: 1;
        }

        .dynamic {
            grid-area: 2 / 1 / 2 / 1;
        }
    }

    @media screen and (min-width: 960px) and (max-width: 1023px) {
        .layout-wrapper {
            max-width: 100%;
            padding: 1rem;
            mix-blend-mode: multiply;
        }
    }

    @media only screen and (min-width: 1366px) and (min-height: 768px) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: 1366px) and (min-height: 768px) and (min-resolution: 192dpi),
    only screen and (min-width: 1366px) and (min-height: 768px) and (min-resolution: 2dppx) {
        .p-datatable-wrapper {
            table {
                height: 485px !important;
            }
        }
    }
}

.p-sidebar-mask {
    @apply hidden;
}

.dynamic.warning {
    animation: glowWarning 1.5s infinite;
}

.dynamic.danger {
    animation: glowDanger 1.5s infinite;
}

@keyframes glowWarning {

    0%,
    100% {
        box-shadow: inset 0 0 10px 10px rgba(245, 158, 11, 0.5);
        /* F59E0B - Warning color */
    }

    50% {
        box-shadow: inset 0 0 3rem 30px rgba(245, 158, 11, 0.8);
    }
}

@keyframes glowDanger {

    0%,
    100% {
        box-shadow: inset 0 0 10px 10px rgba(239, 68, 68, 0.5);
        /* EF4444 - Danger color */
    }

    50% {
        box-shadow: inset 0 0 3rem 30px rgba(239, 68, 68, 0.8);
    }
}