.layout-container {
    // display: grid;
    // grid-template-areas: 'sidebar main';
    transition: all 0.5s ease-in-out;

    .main-content {
        display: grid;
        grid-template-areas: 'header dynamic';
        grid-template-columns: 1fr;
        grid-template-rows: minmax(40px, 64px) 1fr;

        .header {
            grid-area: 1;
        }

        .dynamic {
            grid-area: 2 / 1 / 2 / 1;
        }
    }
}