<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
<!-- <ng-http-loader [spinner]="spinkit.skWave"></ng-http-loader> -->
@if (messages.length) {
<div class="message-container absolute top-0 w-full h-12">
    <p-messages styleClass="alert-message"
        [ngStyle]="{'z-index': '10000111'}" [(value)]="messages" [enableService]="false" />
</div>
}
<div class="layout-container h-full w-full flex transition delay-500 duration-1000 ease-in-out lg:xl:grid"
    [ngClass]="sideBarOpened ? ' lg:xl:grid-cols-[15%_1fr]' : 'lg:xl:grid-cols-[5%_1fr]'">
    <div class="sidebar border-0 border-r border-solid border-gray-200">
        @if (!isMobile) {
        <app-sidebar></app-sidebar>
        } @else {
        <p-sidebar [(visible)]="sideBarOpened" (onHide)="handleSidebarOnHide()">
            <app-sidebar></app-sidebar>
        </p-sidebar>
        }
    </div>
    <main class="bg-red-400 main-content w-full lg:xl:w-auto">
        <header class="header bg-white px-3 border-0 border-b border-solid border-gray-200">
            <app-header></app-header>
        </header>
        <div class="dynamic bg-white px-0 lg:xl:px-4 py-4" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </main>
</div>