@if (dataSource.length) {
<div class="data-grid-container flex flex-col items-start justify-start gap-5 w-full"
    [ngClass]="isMobile ? 'px-5' : ''">
    <div class="grid-options flex items-center justify-between w-full">
        <div class="search w-[50%
            ] lg:xl:w-[30%]">
            <input pInputText placeholder="Enter text to filter grid" type="text" (input)="onFilterValueChange($event)"
                [(ngModel)]="searchValue" />
        </div>
        <div class="options">
            <p-button [label]="addButtonTitle" icon="pi 
                pi-plus" [loading]="isAddActionLoading" loadingIcon="pi pi-spin pi-spinner"
                [pTooltip]="'Add ' + addButtonTitle" (onClick)="handleAddAction()"></p-button>
        </div>
    </div>
    <p-table class="w-full overflow-auto" [loading]="isLoading" loadingIcon="pi pi-spin pi-spinner" (onRowSelect)="handleRowSelect($event)"
        [resizableColumns]="true" #dataGrid [columns]="colDefs" [value]="dataSource" [rows]="15" [paginator]="true"
        [scrollable]="true" [autoLayout]="true" [globalFilterFields]="getGlobalFilters()" sortMode="multiple"
        [scrollHeight]="scrollHeight" [rowsPerPageOptions]="[15, 30, 50]" styleClass="p-datatable-sm"
        [tableStyle]="{'min-width': isMobile ? '50%' : '50rem', 'min-height': scrollHeight}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                    [ngStyle]="{'width': col.width, 'min-width': col.width}" pResizableColumn>
                    {{ col.header }}
                    @if (col.field !== 'action') {
                    <p-sortIcon [field]="col.field" />
                    }
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="w-full h-10">
                @for (item of colDefs; track $index) {
                <td [ngClass]="item.field === 'action' ? 'action-cell' : 'data-cell'">
                    @if(item.field === 'action') {
                    <p-button [text]="true" icon="pi 
                                pi-pen-to-square" [loading]="rowData.isEditActionLoading"
                        loadingIcon="pi pi-spin pi-spinner" pTooltip="Edit" (onClick)="handleEditOperation(rowData)" />
                    <p-button severity="danger" [loading]="rowData.isDeleteActionLoading"
                        loadingIcon="pi pi-spin pi-spinner" (onClick)="handleDeleteOperation(rowData)" pTooltip="Delete"
                        [text]="true" icon="pi pi-trash" />
                    } @else {
                    {{rowData[item.field]}}
                    }
                </td>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" class="text-center py-3">No records found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
} @else {
<div class="w-full h-full flex items-center justify-center">
    <p class="select-none opacity-80">
        No records found
    </p>
</div>
}