<div class="login-container bg-cover bg-no-repeat bg-center bg-fill backdrop-blur-sm
before:content-['']
before:absolute
before:inset-0
before:flex
before:bg-gradient-to-tr
before:from-black/90
before:via-black/60
before:to-black/80
before:opacity-75
before:z-[-5]
" [ngClass]="getBgImageClass()">
    <div class="overlay h-full w-full backdrop-blur-md flex items-center justify-center">
        <div class="card backdrop-blur-lg p-4 w-[90%] lg:xl:max-w-[27%] rounded-lg flex flex-col items-center justify-center"
            [@fade]>
            <div class="header flex flex-col items-center justify-start">
                <h2 class="m-0 mb-2 text-4xl text-white">
                    Welcome!
                </h2>
                <p class="m-0 text-white">
                    Please enter your username and password to signin to your account
                </p>
            </div>
            <div class="body w-full my-4 max-w-[80%]">
                <form [formGroup]="formGroup" class="w-full">
                    <div class="form-group flex flex-col items-end justify-end gap-4">
                        <div class="flex form-input flex-col items-start w-full">
                            <label class="text-white" for="userName">Username</label>
                            <span class="p-input-icon-right w-full">
                                <i class="pi pi-user"></i>
                                <input type="text" pInputText formControlName="userName" />
                            </span>
                        </div>
                        <div class="flex form-input flex-col items-start w-full">
                            <label class="text-white" for="userPassword">Password</label>
                            <p-password formControlName="userPassword" [toggleMask]="true" [feedback]="false" />
                        </div>
                        <div class="action w-full my-5 flex flex-col items-center justify-center gap-5">
                            <p-button label="Submit" styleClass="action" class="w-full" icon="pi pi-lock"
                            [ngStyle]="{'min-height': '1.5rem'}"
                                [loading]="isLoading" loadingIcon="pi pi-spin pi-spinner" [disabled]="isLoading"
                                iconPos="right" (onClick)="handleSignIn()" />
                            @if (userType !== UserTypes.STUDENT) {
                            <p-button [style]="{color: 'white'}" label="Reset Password" [text]="true"
                                (onClick)="handleResetPassword()" />
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="footer">
                <span class="text-white text-xs opacity-80 select-none">
                    &copy; 2024 {{domain}}. All rights reserved.
                </span>
            </div>
        </div>
    </div>
</div>