<div class="timer w-full h-full">
  <div class="rect">
    <div class="outer relative outerCard">
      <div class="progress-wrapper">
        <div #innerCard class="inner innerCard">
          <div id="number">
            <!-- Header -->
            <div class="show-timer w-full flex items-center justify-between">
              <div class="title">
                <h5 class="m-0">Question Panel</h5>
              </div>
            </div>

            <!-- Question Panel -->
            <div
              class="question-panel w-full h-full flex items-center justify-center"
            >
              <app-question-panel
                [examStarted]="examStarted"
                [questionsList]="questionsList"
                [activeQuestion]="activeQuestion"
                [activeQuestionIndex]="activeQuestionIndex"
                (selectedQuestion)="selectedQuestionAction($event)"
              >
              </app-question-panel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
