@import '../../../constants.scss';

.hide {
    display: none;
    transition: display .1s ease-in-out;
}

.show {
    // display: block;
    animation: showAnimator 0.3s ease-in-out;
    animation-delay: 0.5s;
    display: flex;
}


.header {
    .logo {
        height: $headerHeight;

        img {
            z-index: 1;
        }
    }

    .large {

        // &::after {
        //     @apply rounded-t-full shadow-[24px_-24px_0px_10px_ph-500];
        //     content: '';
        //     position: absolute;
        //     height: 36px;
        //     width: 36px;
        //     bottom: -36px;
        //     right: 1px;
        //     background-color: transparent;
        //     box-shadow: 24px -24px 0px 10px white;
        //     pointer-events: none;
        //     z-index: -1;
        // }
    }
}

.active {
    @apply relative bg-white rounded-none rounded-l-3xl text-ph-500;

    // &:not(.first):before {
    &::before {
        @apply rounded-b-full;
        content: '';
        position: absolute;
        height: 36px;
        width: 36px;
        top: -35px;
        right: 1px;
        background-color: transparent;
        box-shadow: 24px 24px 0px 10px white;
        pointer-events: none;
    }

    &::after {
        @apply rounded-t-full;
        content: '';
        position: absolute;
        height: 36px;
        width: 36px;
        bottom: -35px;
        right: 1px;
        background-color: transparent;
        box-shadow: 24px -24px 0px 10px white;
        pointer-events: none;
    }
}

.active-mobile {
    @apply relative bg-white rounded-3xl text-ph-500;
}

.list {
    max-height: calc(100dvh - 100px);
    height: 90%;
}

@keyframes showAnimator {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}