@import '../../../constants.scss';

.hide {
    display: none;
    transition: display .1s ease-in-out;
}

.show {
    // display: block;
    animation: showAnimator 0.3s ease-in-out;
    animation-delay: 0.5s;
    display: flex;
}


.header {
    .logo {
        height: $headerHeight;
    }
}

.list {
    max-height: calc(100dvh - 100px);
    height: 100%;
}

@keyframes showAnimator {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}