@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.pi {
    font-family: 'primeicons' !important;
}

@layer reset {

    button,
    input {
        @apply px-2 py-2.5 text-xs min-w-20 rounded-md;
        box-shadow: none;

        .p-button-label {
            font-weight: normal;
        }

        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    .p-tooltip {
        .p-tooltip-text {
            @apply text-xs p-2;
        }
    }

    p-dropdown {
        box-shadow: none;
        outline: none;

        .p-inputtext {
            @apply px-2 py-2 text-sm min-w-20 rounded-sm;
            box-shadow: none;
            outline: none;
        }
    }

    p-messages {
        .p-message {
            @apply m-0 rounded-none;

            .p-message-wrapper {
                @apply py-1 flex items-center justify-between px-0 pr-3;

                button {
                    @apply min-w-4 w-10 flex items-center justify-center;
                }
            }
        }
    }

    button {
        @apply px-2 py-2 outline-none;
        letter-spacing: 1px;

        &.p-button-icon-only {
            @apply w-8 min-w-8 p-2 flex flex-row items-center justify-center;
        }

        &.action {
            @apply w-full;
        }
    }

    p-fileupload {
        .p-fileupload {
            .p-fileupload-buttonbar {
                @apply p-3;

                .p-button {
                    @apply w-full h-8 p-0;
                }
            }

            .p-fileupload-empty {

                &:first-child {
                    @apply flex flex-col items-center justify-center;

                    i {
                        @apply text-center;
                        padding: 5px !important;
                    }

                    p {
                        margin: 0 !important;
                    }
                }
            }

            .p-fileupload-content {
                @apply p-2;

                h5 {
                    @apply m-1;
                }


                &:first-child {
                    padding: 10px 0 !important;
                }

                .card {
                    @apply text-xs font-normal w-full;
                    padding: 0 !important;

                    span {
                        @apply font-normal text-xs;
                    }

                    .p-badge {
                        @apply flex items-center justify-center;
                    }

                    button {
                        @apply w-full h-8 p-0;
                    }
                }
            }
        }
    }

    p-table {

        .p-datatable-header {
            @apply p-1;
        }

        table {
            @apply block;

            tr {
                th {
                    @apply text-sm font-semibold py-2;
                }

                td {
                    @apply text-sm px-1 py-[3px];

                    &.action-cell {
                        @apply flex items-center justify-start;
                    }
                }
            }
        }
    }

    .p-sortable-column-icon {
        @apply h-[10px] w-[10px];
    }

    input,
    .p-inputwrapper,
    .p-password {
        @apply w-full;
    }

    .p-paginator-rpp-options {
        @apply w-auto h-10 text-xs shadow-none;
    }

    .p-paginator {
        @apply flex items-center justify-center lg:xl:justify-end;
        border: none;

        p-dropdown {
            @apply w-auto;
        }

        .p-paginator-pages {
            @apply hidden lg:xl:flex;
        }

        button {
            @apply p-1 h-10 w-auto lg:xl:w-10 rounded-full;

            &.p-paginator-first {
                @apply hidden lg:xl:flex;
            }

            &.p-paginator-last {
                @apply hidden lg:xl:flex;
            }

            &.p-paginator-page {
                @apply hidden lg:xl:flex;
            }
        }
    }

    p,
    label {
        @apply text-sm select-none;
    }

    .alert-message {
        .p-message {
            .p-message-wrapper {
                .p-message-icon {
                    @apply hidden;
                }

                .p-message-detail {
                    @apply text-sm;
                }
            }

            button {
                @apply hover:bg-none;

                .p-icon-wrapper {
                    @apply h-4 w-4 text-white;

                    svg {
                        @apply h-3 w-3;
                    }
                }
            }
        }
    }

    .p-calendar {
        @apply w-full;
    }

    .p-inputtextarea {
        @apply w-full text-xs;
        box-shadow: none;
    }

    .p-inputswitch {
        box-shadow: none;
    }
}

html,
body {
    @apply m-0 p-0 overflow-hidden box-border;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

.p-inputwrapper-focus {
    box-shadow: none;
    outline: none;
}

.p-message-success {
    @apply bg-green-700 text-white border-0 border-l-8 border-solid border-green-800;
}

.p-message-error {
    @apply bg-red-700 text-white border-0 border-l-8 border-solid border-red-800;
}

.p-dropdown-items-wrapper {
    p-dropdownitem {
        li {
            @apply px-2.5 py-2.5 text-sm;
        }
    }
}

.p-message .p-message-close:hover {
    background: transparent;
}

.message-container {
    z-index: 1103;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
    // font-family: "Montserrat", sans-serif;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
}


.data-filter {
    .p-icon-field {
        @apply min-w-60 flex items-center justify-start gap-4;

        .p-inputicon {
            @apply flex-auto;
        }
    }
}

.form-container {
    @apply p-4 overflow-auto max-h-[70dvh];
}

.page-container {
    @apply h-full w-full;

    .table-container {
        @apply h-full w-full;
    }
}

.add-edit-dialog {
    .p-dialog-header {
        @apply px-4 pt-4 pb-2;

        .p-dialog-title {
            @apply text-base font-semibold;
        }

        .p-dialog-header-icons {

            button {
                @apply min-w-6 w-8;
            }
        }
    }

    .p-dialog-content {
        @apply p-0;
    }
}