@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@import "primeng/resources/themes/lara-light-purple/theme.css";
// @import "primeng/resources/themes/viva-light/theme.css";
// @import "primeng/resources/themes/fluent-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "constants.scss";

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

:root {
    --color1: #8b5cf6;
    --color2: #3096c7;
    --color3: #3b76f6;
    --color4: #e76f51;
    --color5: #f4a261;
    --color6: #e9c46a;
    --color7: #2a9d8f;
    --color8: #264653;
}


.pi {
    font-family: 'primeicons' !important;
}


@media screen and (min-width: '1080px') {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 0;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(193, 193, 193, 0.5);
        border-radius: 0;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(193, 193, 193, 1);
    }
}

@layer reset {

    button,
    input {
        @apply px-3 py-2 text-sm min-w-20 rounded-2xl shadow-2xl;
        // box-shadow: none;

        .p-button-label {
            @apply text-xs;
            font-weight: normal;
        }

        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    label {
        @apply mb-2;
    }

    .p-tooltip {
        .p-tooltip-text {
            @apply text-xs p-2;
        }
    }

    p-dropdown {
        @apply p-0;
        box-shadow: none;
        outline: none;

        .p-inputtext {
            @apply px-2 py-2 text-sm min-w-20;
            box-shadow: none;
            outline: none;
        }
    }

    p-tieredmenusub {
        ul {
            li {
                .p-menuitem-content {
                    a {
                        padding: 0.6rem !important;
                    }
                }
            }
        }
    }

    p-messages {
        @apply w-full;

        .p-message {
            @apply m-0 rounded-none lg:first:rounded-tr-2xl xl:first:rounded-tr-2xl 2xl:first:rounded-tr-2xl pl-4;

            .p-message-wrapper {
                @apply py-1 flex items-center justify-between px-0 pr-3 flex-wrap w-full h-full;

                button {
                    @apply min-w-4 w-10 flex items-center justify-center;
                }
            }
        }
    }

    button {
        @apply px-3 py-2 outline-none text-sm shadow-2xl rounded-2xl min-h-[2.4rem];

        &.p-button-primary {
            @apply bg-ph-600;
        }

        &.p-button-icon-only {
            @apply w-8 min-w-8 min-h-8 p-1 flex flex-row items-center bg-transparent justify-center;

            span {
                font-size: 18px !important;
            }
        }

        &.action {
            @apply w-full p-2.5;
        }
    }

    p-fileupload {
        .p-fileupload {
            .p-fileupload-buttonbar {
                @apply p-3 rounded-t-2xl;

                .p-button {
                    @apply w-full h-8 p-0 rounded-2xl;
                }
            }

            .p-fileupload-empty {

                &:first-child {
                    @apply flex flex-col items-center justify-center;

                    i {
                        @apply text-center;
                        padding: 5px !important;
                    }

                    p {
                        margin: 0 !important;
                    }
                }
            }

            .p-fileupload-content {
                @apply p-2 rounded-b-2xl;

                h5 {
                    @apply m-1;
                }


                &:first-child {
                    padding: 10px 0 !important;
                }

                .card {
                    @apply text-xs font-normal w-full;
                    padding: 0 !important;

                    span {
                        @apply font-normal text-xs;
                    }

                    .p-badge {
                        @apply flex items-center justify-center;
                    }

                    button {
                        @apply w-full h-8 p-0;
                    }
                }
            }
        }
    }

    p-table {

        .p-datatable-header {
            @apply p-1;
        }

        table {
            @apply block;

            tr {
                th {
                    @apply text-sm font-semibold py-2;
                }

                td {
                    @apply text-sm px-1 py-[3px] h-10;

                    &.action-cell {
                        @apply flex items-center h-10 justify-start;
                    }
                }
            }
        }
    }

    .p-sortable-column-icon {
        @apply h-[10px] w-[10px];
    }

    input,
    .p-inputwrapper,
    .p-password {
        @apply w-full rounded-2xl;
    }

    .p-paginator-rpp-options {
        @apply w-auto text-xs shadow-none;
    }

    .p-paginator {
        @apply flex items-center justify-center lg:xl:justify-end;
        border: none;

        p-dropdown {
            @apply w-auto;
        }

        .p-paginator-pages {
            @apply hidden lg:xl:flex;
        }

        button {
            @apply p-1 h-10 w-auto lg:xl:w-10;

            &.p-paginator-first {
                @apply hidden lg:xl:flex;
            }

            &.p-paginator-last {
                @apply hidden lg:xl:flex;
            }

            &.p-paginator-page {
                @apply hidden lg:xl:flex;
            }
        }
    }

    p,
    label {
        @apply text-xs select-none;
    }

    .alert-message {
        @apply w-full h-full;

        .p-message {
            .p-message-wrapper {
                .p-message-icon {
                    @apply hidden;
                }

                .p-message-detail {
                    @apply text-sm text-wrap overflow-auto;
                }
            }

            button {
                @apply hover:bg-none;

                .p-icon-wrapper {
                    @apply h-4 w-4 text-white;

                    svg {
                        @apply h-3 w-3;
                    }
                }
            }
        }
    }

    .p-calendar {
        @apply w-full;
    }

    .p-inputtextarea {
        @apply w-full text-xs rounded-2xl;
        box-shadow: none;
    }

    .p-inputswitch {
        box-shadow: none;
    }
}


.p-error {
    @apply text-xs mt-[0.2rem] ml-[0.8rem];
}

#username-help {
    @apply mt-0.5 select-none opacity-70;
}

html,
body {
    @apply m-0 p-0 overflow-hidden;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    // width: 100dvw;
}

p-tieredmenusub ul li .p-menuitem-content a {
    padding: 0.6rem !important;
    font-size: 0.75rem;
}

.p-inputwrapper-focus {
    box-shadow: none;
    outline: none;
}

.p-message-success {
    @apply bg-green-700 h-full text-white border-none;
}

.p-message-error {
    @apply bg-red-700 h-full text-white border-none;
}

.p-message-info {
    @apply bg-ph-700 h-full text-white border-none;
}

.p-dropdown-items-wrapper {
    p-dropdownitem {
        li {
            @apply px-2.5 py-1.5 text-sm;
        }
    }
}

.p-message .p-message-close:hover {
    background: transparent;
}

.message-container {
    z-index: 1103;
}

.p-focus {
    outline: none;
    // border: none;
    // box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input {
    @apply min-h-20;
}

.p-button-icon {
    @apply text-xs;
}

.p-sidebar {
    @apply bg-ph-500;
}

.p-dropdown-panel {
    @apply rounded-2xl;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label {
    // font-family: "Montserrat", sans-serif;
    // font-family: "Lato", sans-serif;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
}

.p-menuitem-link {
    @apply text-sm;
}

.data-filter {
    .p-icon-field {
        @apply min-w-60 flex items-center justify-start gap-4;

        .p-inputicon {
            @apply flex-auto;
        }
    }
}

.form-container {
    @apply p-4 overflow-auto max-h-[64dvh];
}

.page-container {
    @apply h-full w-full;

    .table-container {
        @apply h-[87%] w-full;
    }
}

.toggleRowButton,
.add-row-btn {
    @apply text-ph-700;

    .p-button-icon {

        &::before {
            font-size: 12px !important;
        }
    }
}

.add-edit-dialog {
    @apply rounded-2xl shadow-2xl;

    .p-dialog-header {
        @apply px-4 pt-4 pb-2 rounded-t-2xl;

        .p-dialog-title {
            @apply text-base font-semibold;
        }

        .p-dialog-header-icons {

            button {
                @apply min-w-6 w-8;
            }
        }
    }

    .p-dialog-content {
        @apply p-0 rounded-b-2xl;
    }
}

@layer components {
    .banner::after {
        @apply p-0 rounded-2xl;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%);
        background-image: conic-gradient(from var(--angle), var(--color1), var(--color2), var(--color3), var(--color6), var(--color7), var(--color8), var(--color1));
        z-index: -1;
        animation: spin 3s linear infinite;
    }

    .banner::before {
        filter: blur(1.5rem);
        opacity: 0.5;
    }
}

.child-table {
    .p-datatable-wrapper {
        table {
            @apply bg-gray-50;

            thead {
                tr>th {
                    @apply bg-gray-50;
                }
            }

            tbody {
                tr {
                    td {
                        @apply border-none bg-gray-50;
                    }
                }
            }
        }
    }
}

.toggleRowButton {
    @apply hover:bg-transparent text-gray-400 font-normal text-xs;
}

image-picker {
    @apply my-2;
}

.layout-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle), var(--color1), var(--color2), var(--color3), var(--color4), var(--color7), var(--color8), var(--color1));
    z-index: -1;
    animation: spin 60s linear infinite;
}

.layout-wrapper::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}